@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="features">
        <div class="container">
            <div class="title-group">
                <p>@Model.Value("featuresTitle")</p>
                <h2>@Model.Value("featuresDescription")</h2>
                <a href="" class="button-theme">Learn More<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="icons">
                <div class="icon-group">
                    @{
                        var featureIcon1 = Model.Value<MediaWithCrops>("featureIcon1");
                        if(featureIcon1 != null)
                        {
                            <img src="@featureIcon1.MediaUrl()" alt="@Model.Value("featureTitle1")">
                        }
                     }
                    <h3>@Model.Value("featureTitle1")</h3>
                    <p>@Model.Value("featureDescription1")</p>
                </div>
                <div class="icon-group">
                    @{
                        var featureIcon2 = Model.Value<MediaWithCrops>("featureIcon2");
                        if(featureIcon2 != null)
                        {
                            <img src="@featureIcon2.MediaUrl()" alt="@Model.Value("featureTitle2")">
                        }
                     }
                    <h3>@Model.Value("featureTitle1")</h3>
                    <p>@Model.Value("featureDescription1")</p>
                </div>
                <div class="icon-group">
                    @{
                        var featureIcon3 = Model.Value<MediaWithCrops>("featureIcon3");
                        if(featureIcon3 != null)
                        {
                            <img src="@featureIcon3.MediaUrl()" alt="@Model.Value("featureTitle3")">
                        }
                     }
                    <h3>@Model.Value("featureTitle3")</h3>
                    <p>@Model.Value("featureDescription3")</p>
                </div>
                <div class="icon-group">
                    @{
                        var featureIcon4 = Model.Value<MediaWithCrops>("featureIcon4");
                        if(featureIcon4 != null)
                        {
                            <img src="@featureIcon4.MediaUrl()" alt="@Model.Value("featureTitle4")">
                        }
                     }
                    <h3>@Model.Value("featureTitle4")</h3>
                    <p>@Model.Value("featureDescription4")</p>
                </div>
            </div>
        </div>
    </section>
    
    