@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="project-case-study">
    <div class="container">
        <p>@Model.Value("pCSTitle")</p>
        <h2>@Model.Value("pCSDescription")</h2>
        <div class="projects">
            <div class="project">
                @{
                    var pCSImage1 = Model.Value<MediaWithCrops>("pCSImage1");
                    if (pCSImage1 != null)
                    {
                        <img src="@pCSImage1.MediaUrl()" alt="@Model.Value("pCSBoxTitle1")" />
                    }
                }
                <h3>@Model.Value("pCSBoxTitle1")</h3>
                <a href="@Model.Value("pCSBoxLink1")">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="project">
                @{
                    var pCSImage2 = Model.Value<MediaWithCrops>("pCSImage2");
                    if (pCSImage2 != null)
                    {
                        <img src="@pCSImage2.MediaUrl()" alt="@Model.Value("pCSBoxTitle2")" />
                    }
                }
                <h3>@Model.Value("pCSBoxTitle2")</h3>
                <a href="@Model.Value("pCSBoxLink2")">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="project">
                @{
                    var pCSImage3 = Model.Value<MediaWithCrops>("pCSImage3");
                    if (pCSImage3 != null)
                    {
                        <img src="@pCSImage3.MediaUrl()" alt="@Model.Value("pCSBoxTitle3")" />
                    }
                }
                <h3>@Model.Value("pCSBoxTitle3")</h3>
                <a href="@Model.Value("pCSBoxLink3")">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="project">
                @{
                    var pCSImage4 = Model.Value<MediaWithCrops>("pCSImage4");
                    if (pCSImage4 != null)
                    {
                        <img src="@pCSImage4.MediaUrl()" alt="@Model.Value("pCSBoxTitle4")" />
                    }
                }
                <h3>@Model.Value("pCSBoxTitle4")</h3>
                <a href="@Model.Value("pCSBoxLink4")">Read More<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            
        </div>
        <a href="@Model.Value("pCSButtonUrl")" class="button-dark">@Model.Value("pCSButtonText")<i class="fa-regular fa-arrow-up-right"></i></a>
    </div>
</section> 


