@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "PageWithBreadcrumb.cshtml";
    var contactForm = new Crito.Models.ContactForm();
}

<section class="info-icons">
    <div class="container">
        @Html.GetBlockListHtml(Model.InfoIconsBlockList)
    </div>
</section>

<section class="contact-form">
    <div class="container">
        @if (TempData["SuccesMsg"] != null)
        {
            <div class="succes-msg">
                <h2>@Model.Value("formSuccesHeader")</h2>
                <p>@Model.Value("formSuccesText")</p>
                <a class="button-dark" href="@Model.Value("formSuccesButtonLink")">@Model.Value("formSuccesButtonText")<i class="fa-regular fa-arrow-up-right"></i> </a>
            </div>
        }
       
           

        @if (TempData["SuccesMsg"] == null)
        {
             <h2>Leave us a message for any information.</h2>

            @using (Html.BeginUmbracoForm("Index", "Forms", FormMethod.Post))
            {
                <div asp-validation-summary="ModelOnly"></div>

                <div class="input-grp">
                    <small><span asp-validation-for="@contactForm.Name" class="error-msg"></span></small>
                    <input asp-for="@contactForm.Name" type="text" placeholder="Name*">
                </div>
                <div class="input-grp">
                    <small><span asp-validation-for="@contactForm.Email" class="error-msg"></span></small>
                    <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
                </div>
                <div class="input-grp">
                    <small><span asp-validation-for="@contactForm.Message" class="error-msg"></span></small>
                    <textarea asp-for="@contactForm.Message" placeholder="Your Message*"></textarea>
                </div>

                <button type="submit" class="button-theme">Send Message<i class="fa-regular fa-arrow-up-right"></i> </button>
            }
        
        }
       

    </div>
</section>

<section class="map">
    <iframe class="gmap" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=sveavägen 31 stockholm&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
</section>