@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("d43cb715-0e75-4110-a0cb-50d7edae4040"))
    .ChildrenOfType("articleDetailPage")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}


<section class="articles-news">
    <div class="container">
        <h2>Get Every Single Articles & News</h2>
    <div class="articles">
    	@foreach (var item in selection)
    	{
    		var thumbnail = item.Value<IPublishedContent>("articleThumbnail");
    		var dateValue = item.Value<DateTime>("articleDate");
            var day = dateValue.Day.ToString(); 
            var month = dateValue.ToString("MMM"); 
    			
    		<a href="@item.Url()" class="article">
                <div class="date"><span>@day</span> @month</div>
                <img src="@thumbnail.Url()">
                <p class="title">@item.Value("articleCategory")</p>
                <h3>@item.Value("articleTitle")</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </a>
    	}
    </div>
    </div>
</section>