@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
    
<section class="features">
    <div class="container">
        <div class="title-group">
            <p>@Model.Value("featureTitle")</p>
            <h2>@Model.Value("featureDescription")</h2>
            <a href="" class="button-theme">Learn More<i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
        <div class="icons">
          @Html.GetBlockListHtml(Model.FeatureServices)
        </div>
    </div>
</section>
    
    
    <section class="our-services">
    <div class="container">
        <p>@Model.Value("ourServicesHeaderTitle")</p>
        <h2>@Model.Value("ourServicesDescription")</h2>
        <div class="_cards">
            
        </div>
        <a href="@Model.Value("ourServicesLink")" class="button-light-theme">@Model.Value("ourServicesButtonText")<i class="fa-regular fa-arrow-up-right"></i></a>
    </div>
    <img src="~/static/background-lines-right.svg">
</section>